<div class="container-fluid">
  <div class="signup-form">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h2>Login</h2>
      <hr />
      <div *ngIf="errorMsg$" class="alert alert-danger" role="alert">
        {{ errorMsg$ }}
      </div>
      <app-inputfield
        [label]="'envelope'"
        [type]="'email'"
        [placeholder]="'Email'"
        formControlName="email"
        (removeErrorMessage)="onfocus('email')"
        required
      ></app-inputfield>
      <div>
        <small *ngIf="'errorMessage.emailError'">
          {{ errorMessage.emailError }}
        </small>
      </div>

      <app-inputfield
        [label]="'key'"
        [type]="'password'"
        [placeholder]="'Password'"
        formControlName="password"
        (removeErrorMessage)="onfocus('password')"
        required
      ></app-inputfield>

      <div>
        <small *ngIf="'errorMessage.passwordError'">
          {{ errorMessage.passwordError }}
        </small>
      </div>
      <a>Forgot Password ?</a>
      <br />

      <br />
      <span *ngIf="loading">
        <app-loading></app-loading>
      </span>
      <app-button [type]="'submit'" [buttonLabel]="'Log in'"></app-button>
    </form>
    <div class="text-center">
      Create new account? <a routerLink="/signup">Sign Up</a>
    </div>
  </div>
</div>
