<div class="container-fluid" (click)="removeSearchList()">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">Navbar</a>
    <form class="form-inline" (ngSubmit)="submitSearch()">
      <input
        style="width: 400px"
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search App Name or Category...."
        aria-label="Search"
        [formControl]="searchKey"
        (ngModelChange)="handleSearch()"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </nav>

  <div class="wrapper">
    <div class="navi">
      <div class="searchlist" *ngIf="filteredData">
        <table *ngIf="filteredData.length" class="table">
          <th scope="col">SN.</th>
          <th scope="col">App Name</th>
          <th scope="col">Category</th>
          <tr *ngFor="let item of filteredData; index as i">
            <td>{{ i + 1 }}</td>
            <td>{{ item.App }}</td>
            <td>{{ item.Category }}</td>
          </tr>
        </table>
        <h3 *ngIf="!filteredData.length">No Records Found!</h3>
      </div>
    </div>
    <div id="infoi">
      <div class="card" *ngIf="searchList">
        <ul class="list-group">
          <li
            class="list-group-item"
            *ngFor="let item of searchList | slice: 0:6"
            (click)="selectedItem(item.App)"
            style="cursor: pointer"
          >
            {{ item.App | slice: 0:40 }}...
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
